
/*
 *	Estilos Backend
 *
*/

.postbox img.gravatar {
    max-width: 100%;
}

.postbox .inside {
    display: table
}

.postbox .wp_ojala_insignia > li {
    float: left;
    margin: 5px;
    text-align: center;
    height: 220px;
    width: 120px;
    overflow: hidden;
}

.postbox .wp_ojala_insignia li li {
    margin: 2px 0;
    padding: 0;
}

.postbox .wp_ojala_insignia img {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.postbox .wp_ojala_nombre_proyecto a {
    font-size: .8em;
    text-decoration: none;
    line-height: .5em
}

.postbox .wp_ojala_insisgnias_puntos li {
    padding: 5px 10px;
    background: #474747;
    color: #ddd;
    border-radius: 20px;
    font-size: 1.2em;
    float: left;
}

.postbox .wp_ojala_insisgnias_puntos li:first-child {
    margin-right: 5px
}

.postbox .wp_ojala_insisgnias_puntos strong {
    color: #92ae57;
}

